<?xml version="1.0"?>
<config>
    <modules>
        <Global_Helper>
            <version>0.1.0</version>
        </Global_Helper>
    </modules>
    <frontend>
        <routers>
            <YOUR_NEW_ROUTER_NAME_HERE>
                <use>standard</use>
                <args>
                    <module>Global_Helper</module>
                    <frontName>helper</frontName>
                </args>
            </YOUR_NEW_ROUTER_NAME_HERE>
            <customer>
                <args>
                    <modules>
                        <global_helper before="Mage_Customer">Global_Helper</global_helper>
                    </modules>
                </args>
            </customer>
        </routers>


    </frontend>
    <global>
        <models>
            <global_helper>
                <class>Global_Helper_Model</class>
                <resourceModel>global_helper_resource</resourceModel>
            </global_helper>
            <global_helper_resource>
                <class>Global_Helper_Model_Resource</class>
            </global_helper_resource>
        </models>
        <blocks>
            <global_helper>
                <class>Global_Helper_Block</class>
            </global_helper>
        </blocks>
        <helpers>
            <global_helper>
                <class>Global_Helper_Helper</class>
            </global_helper>
        </helpers>
    </global>
</config>